<section>
    <h1>Pickaxe</h1>
    <h2>Level 1</h2>
    <mat-progress-bar [value]="30"></mat-progress-bar>
    <p>
        <mat-icon aria-label="Pickaxe icon" svgIcon="pickaxe"></mat-icon>
         5 Power
    </p>
    <p>
        <mat-icon aria-label="Ruby icon" svgIcon="ruby"></mat-icon>
         3 Luck
    </p>
    <br>
    <h2>Enchantments</h2>
    <p>
        <mat-icon aria-label="Pickaxe icon" svgIcon="pickaxe"></mat-icon>
         Efficiency I
    </p>
    <br>
    <button mat-raised-button>
        Enchant for
        <mat-icon aria-label="Ruby icon" svgIcon="ruby"></mat-icon>
        5
    </button>
    <br>
</section>