<section>
    <h1>Stats</h1>
    <p>
        <mat-icon aria-label="Pickaxe icon" svgIcon="pickaxe"></mat-icon>
         {{player.getBlocksPerSecond() | number: '1.0-1'}} Blocks / sec
    </p>
    <p>
        <mat-icon aria-label="Stone icon" svgIcon="stone"></mat-icon>
         {{player.getStonePerSecond() | number: '1.0-1'}} Stone / sec
    </p>
    <p>
        <mat-icon aria-label="Ruby icon" svgIcon="ruby"></mat-icon>
         {{player.getRubiesPerSecond() | number: '1.0-1'}} Rubies / sec
    </p>
    <br>
    <p>
        <mat-icon aria-label="Pickaxe icon" svgIcon="pickaxe"></mat-icon>
         {{player.blocksMined | shortNumber}} Total Mined
    </p>
    <p>
        <mat-icon aria-label="Stone icon" svgIcon="stone"></mat-icon>
         {{player.getResourceByName("Stone") | shortNumber}}
    </p>
    <p>
        <mat-icon aria-label="Ruby icon" svgIcon="ruby"></mat-icon>
         {{player.getResourceByName("Rubies") | shortNumber}}
    </p>
    <br>
</section>