<section>
    <h1>Buildings</h1>
    <div class="building-list centered" id="tier-1">
        <span>
            <mat-icon aria-label="Quarry icon" svgIcon="quarry" class="large-icon"></mat-icon>
            <p>Quarry</p>
            <button mat-raised-button>
                <mat-icon aria-label="Stone icon" svgIcon="stone"></mat-icon>
                 25 
            </button>
        </span>
        <span>
            <mat-icon aria-label="Forge icon" svgIcon="forge" class="large-icon"></mat-icon>
            <p>Forge</p>
            <button mat-raised-button>
                <mat-icon aria-label="Stone icon" svgIcon="stone"></mat-icon>
                 500
            </button>
        </span>
        <span>
            <mat-icon aria-label="Shrine icon" svgIcon="shrine" class="large-icon"></mat-icon>
            <p>Shrine</p>
            <button mat-raised-button>
                <mat-icon aria-label="Stone icon" svgIcon="stone"></mat-icon>
                 10000
                <br>
                <mat-icon aria-label="Ruby icon" svgIcon="ruby"></mat-icon>
                 100
            </button>
        </span>
    </div>
    <br>
</section>